name: Publish Go Module

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: false

      - name: Verify Code
        run: |
          go mod tidy

      - name: Index on Go Proxy
        run: |
          export GOPROXY=https://proxy.golang.org
          go list -m github.com/mwprogrammer/flow@${{ github.event.release.tag_name }}