name: Release Drafter (Main)
on:
  push:
    branches:
      - main

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter-main.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}